$header-height: 45px;

nav {
  margin-top:100px;
  width: 100%;
  background-color: white;
  height: $header-height;
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(100,100,100);

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    float: left;
    display: table;
    padding-left: 5px;
  }

  ul li a {
    display: table-row;
    font-size: 14px;
    height:$header-height;
    background-color: #efefef;
  }

  ul li a span {
    font-family: "Clan Medium", sans-serif;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    &:nth-child(2){
      padding-left:0;
      padding-right:10px;
    }
  }

  img {
    width: auto;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-bottom;
  }

  a.active{
    background-color:rgb(100,100,100);
    color: white;
    img {
      filter: invert(100%) sepia(1%) saturate(7496%) hue-rotate(264deg)
        brightness(105%) contrast(100%);
    }
  }

  ul li a:hover {
    background-color:rgb(200,200,200);
    &.active{
      background-color:rgb(100,100,100);
    }
    cursor: pointer;  
    text-decoration: none;
    span:nth-child(2){
      text-decoration: underline;
    }
  }

}
