#viewContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  &>*{
    flex-grow: 1;
    height: 100%;
    flex-basis:100%;
    box-sizing: border-box;
    overflow-y:auto;
  }
}

#sidebar{
  height: 100%;
  background-color: rgb(220,220,220);
}

#sidebar .pointer{
  width:54px;
  height:auto; 
  float:left;
  margin: 0 10px 10px 0;
}

#sidebar button{
  transition: background 0.1s;
  cursor: pointer;
  background: #E60032;
  font-family: 'Clan Medium', sans-serif;
  font-size: 12px;
  padding: .75rem 1.5rem;
  border-radius: 5px;
  color: white;
  border: 0px solid;
  &:hover{
    background: #b10026;
  }
  clear:both;
}

/*----- Population / Network -----*/
#viewContainer.population,
#viewContainer.network{
  #sidebar{
    flex-grow: 1;
    flex-basis: 20%;
    padding: 15px;
    font-size: 12px;
    h3{
      font-size: 16px;
      padding-bottom: 5px;
      font-family: "Clan Medium", sans-serif;
    }
  }
  #map{
    flex-grow: 4;
    flex-basis: 80%;
    overflow-y:hidden;
  }
}

/*----- Simulation -----*/
#viewContainer.simulation{
  #sidebar{
    flex-grow: 1;
    flex-basis: 20%;
    padding: 15px;
    font-size: 12px;
    h3{
      font-size: 16px;
      padding-bottom: 5px;
      font-family: "Clan Medium", sans-serif;
    }
    button.hidden{
      display:none;
    }
  }
  #map{
    flex-grow: 2;
    flex-basis: 40%;
    overflow-y:hidden;
  }
  #simulation{
    flex-grow: 2;
    flex-basis: 40%;
  }

  button{
    display: flex;
    align-items: center;
    span{
      font-family: "Clan Medium", sans-serif;
    }
    span.icon{
      text-align: center;
      width: 25px;
      font-size:20px;
      line-height:0;
    }
    span.icon.stop,
    span.icon.start{
      padding-bottom:5px;
    }
  }
  .stop{
    display:none;
  }
  .start{
    display:inline-block;
  }
  .active{
    .stop{
      display:inline-block;
    }
    .start{
      display:none;
    }
  }
  button.active.start{
    display:none;
  }
}

#simulation{
  padding:15px;
  display:flex;
  flex-direction: column;
  background-color:rgb(220,220,220);

  ul,li{
    list-style:none;
    margin:0;
    padding:0;
  }
  li{
    float:left;
    border:1px solid rgb(150,150,150);
    margin:2px;
    width:20px;
    height:20px;
  }
  ul.over{
    clear:both;

    li {
      width:90px;
      font-size:12px;
      box-sizing: border-box;
      padding:2px;
      text-align: center;
    }
  }
  ul{
    flex-grow: 0;
    flex-shrink:1;    
  }

  h3{
    font-size: 16px;
    padding-bottom: 5px;
    font-family: "Clan Medium", sans-serif;
    clear:both;
    padding-top:10px;
    flex-grow: 0;
    flex-shrink:1;
    &:first-child{
      padding-top:0;
    }
  }

  #graph{
    flex-grow: 1;
    flex-shrink:0;
    min-height: 200px;
    svg{
      width:100%;
      height:100%;
    }
  }

  .axis text{
    font-size:12px;
  }

  .axis line {
    stroke:rgba(255,255,255,0.5);
  }
}